@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Cedarville+Cursive&family=Dancing+Script&family=Pacifico&family=Raleway&family=Roboto&family=Single+Day&family=Ubuntu:wght@300;400&display=swap");
/* Set default font-family */
.quill .ql-editor {
  font-family: "Raleway";
}

/* Set dropdown font-families */

.ql-picker.ql-font .ql-picker-label[data-value="Ubuntu"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Ubuntu"]::before {
  font-family: "Ubuntu", cursive;
  content: "Ubuntu";
}
.ql-picker.ql-font .ql-picker-label[data-value="Raleway"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Raleway"]::before {
  font-family: "Raleway", cursive;
  content: "Raleway";
}
.ql-picker.ql-font .ql-picker-label[data-value="Roboto"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Roboto"]::before {
  font-family: "Roboto", cursive;
  content: "Roboto";
}
.ql-picker.ql-font .ql-picker-label[data-value="Pacifico"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Pacifico"]::before {
  font-family: "Pacifico", cursive;
  content: "Pacifico";
}

.ql-picker.ql-font .ql-picker-label[data-value="BadScript"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="BadScript"]::before {
  font-family: "Bad Script", cursive;
  content: "BadScript";
}
.ql-picker.ql-font .ql-picker-label[data-value="CedarvilleCursive"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="CedarvilleCursive"]::before {
  font-family: "Cedarville Cursive", cursive;
  content: "CedarvilleCursive";
}
.ql-picker.ql-font .ql-picker-label[data-value="DancingScript"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="DancingScript"]::before {
  font-family: "Dancing Script", cursive;
  content: "DancingScript";
}
/* Set content font-families */
.ql-font-BadScript {
  font-family: "Bad Script";
}
.ql-font-CedarvilleCursive {
  font-family: "Cedarville Cursive";
}
.ql-font-DancingScript {
  font-family: "Dancing Script";
}

.ql-font-Raleway {
  font-family: "Raleway";
}
.ql-font-Roboto {
  font-family: "Roboto";
}
.ql-font-Ubuntu {
  font-family: "Ubuntu";
}
.ql-font-Pacifico {
  font-family: "Pacifico";
}

/* We do not set Courier since it is the default font */

.quill {
  margin: 0;
  height: 100%;
}

.quill .ql-container {
  background: #fff;
  border: none;
  height: calc(100% - 41px);
}

/* Snow Theme */
.quill .ql-snow.ql-toolbar {
  display: block;
  background: #ffffff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
  border-bottom: 1px solid #eee;
}

.titleInput {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 15px;

  .MuiInput-input {
    border: none;
    color: #333;
    font-family: Source Sans Pro, -apple-system, system-ui, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    outline: none;
    padding-bottom: 4px;
    width: 100%;
  }
}
