@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap");

//icon width
$small-width: 22px;
$small-height: 22px;

/* Define the styles for the scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Define the track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

/* Add some styles for the corner where two scrollbars meet */
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}
// font-family: 'Playpen Sans', cursive; font-family: 'Quicksand', sans-serif;
body {
  font-family: "Playpen Sans", cursive;
  .main-layout {
    overflow: hidden;
    max-height: 100vh;
    .content-area {
      overflow-y: scroll;
    }
  }
  .profile {
    .downArrow {
      stroke: #fff;
      display: inline-block;
      flex-shrink: 0;
      height: 8px;
      margin-left: 9px;
      width: 8px;
      overflow: hidden;
      fill: #fff;
    }
    .setting {
      stroke: #737373;
      width: $small-width;
      height: $small-height;
      color: #737373;
    }
  }
  .reducedSideBar {
    min-width: 60px !important;
    flex: 0 0 60px !important;
  }
  .collapseButton {
    position: absolute;
    right: -10px;
    background: #262626;
    padding: 8px 2px;
    height: 40px;
    width: 26px !important;
    color: #fff;
    bottom: 29px;
    transition: 0.5s;
  }
  .sideBarResizer {
    width: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    cursor: e-resize;
    transition: 0.5s;
    &:hover,
    &:active {
      background-color: #00a3f4;
      transition: 0.5s;
    }
  }

  #HOME-CONTAINER {
    scroll-snap-type: y proximity;
    margin-right: 0;

    .topContainer {
      height: 460px;
      width: 100%;
      overflow: hidden;
      .backgroundImg {
        transition: opacity 0.4s ease 0s, transform 200ms ease-out 0s,
          background-position 200ms linear 0s, filter 800ms ease-in 0s;
        filter: initial;
        background-position: 50% 54%;
        transform: perspective(1000px) scale(1);
        height: 100%;
        background-size: cover;
      }
    }

    .stickyHeader {
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
      font-family: "Playpen Sans", cursive;
    }
  }
  .gridSection {
    margin-top: -150px;
  }
}

.calendarContainer {
  font-family: "Quicksand", sans-serif;
  width: 250px;
  height: 270px;
}
