@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap");

//icon width
$small-width: 22px;
$small-height: 22px;

/* Define the styles for the scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  height: 5px; /* Width of the scrollbar */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Define the track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

/* Add some styles for the corner where two scrollbars meet */
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

// font-family: 'Playpen Sans', cursive; font-family: 'Quicksand', sans-serif;
body {
  font-family: "Playpen Sans", cursive;
  .main-layout {
    overflow: hidden;
    max-height: 100vh;
    .content-area {
      overflow-y: scroll;
      background-color: #fff;
    }
  }
  .profile {
    .downArrow {
      stroke: #fff;
      display: inline-block;
      flex-shrink: 0;
      height: 8px;
      margin-left: 9px;
      width: 8px;
      overflow: hidden;
      fill: #fff;
    }
    .setting {
      stroke: #737373;
      width: $small-width;
      height: $small-height;
      color: #737373;
    }
  }
  .reducedSideBar {
    min-width: 60px !important;
    flex: 0 0 60px !important;
  }
  .collapseButton {
    position: absolute;
    right: -6px;
    background: #262626;
    padding: 5px 0px;
    height: 31px;
    width: 16px !important;
    color: #fff;
    top: 49%;
    transition: 0.5s;
    outline: none;
    &:active,
    &:hover {
      background: #262626 !important;
    }
  }
  .sideBarResizer {
    width: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    cursor: e-resize;
    transition: 0.5s;
    &:hover,
    &:active {
      background-color: #00a3f4;
      transition: 0.5s;
    }
  }

  #HOME-CONTAINER {
    scroll-snap-type: y proximity;
    margin-right: 0;

    .topContainer {
      height: 250px;
      width: 100%;
      overflow: hidden;
      .backgroundImg {
        transition: opacity 0.4s ease 0s, transform 200ms ease-out 0s,
          background-position 200ms linear 0s, filter 800ms ease-in 0s;
        filter: initial;
        background-position: 50% 54%;
        transform: perspective(1000px) scale(1);
        height: 100%;
        background-size: cover;
      }
    }

    .stickyHeader {
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
      font-family: "Playpen Sans", cursive;
    }
  }
  .gridSection {
    margin-top: -50px;
  }
  .scratchPad {
    background-color: rgb(255, 244, 186);
  }
}

.calendarContainer {
  font-family: "Quicksand", sans-serif;
  width: 250px;
  height: 270px;
  z-index: 99;
}
.CalenBtn {
  color: #000;
  background-color: #ffffff00;
  /* box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1); */
  /* box-sizing: border-box; */
  font-size: 12px;
  height: 32px;
  padding: 4px 15px;
  border-radius: 6px;
  outline: none;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  display: flex;
  justify-content: space-between;
  width: 205px;
  align-items: center;
}

.notesSidebar {
  border-right: 1px solid #dbdbdb;
  height: 100vh;
  box-shadow: -2px 5px 7px;
  .notesHeader {
    height: 15%;
  }
  .notesListContainer {
    border-top: 1px solid #dbdbdb;
    .emptyNotes {
      height: calc(100% - 55%);
      display: flex;
      align-items: center;
    }
  }
  .createNoteImgContainer {
    display: block;
    padding: 30px;
    text-align: center;
    position: relative;
    top: 70px;

    .createNoteImg {
      width: 185px;
    }
  }
}

.notesContent {
  height: 100vh;
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 768px) {
  body #HOME-CONTAINER .stickyHeader {
    flex-wrap: wrap-reverse;
    .datTimeContainer {
      position: absolute !important;
      right: 0;
      top: 3px;
    }
  }
}
